body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(120deg, #87ceeb, #ffffff, #001f3f);
  background-size: 300% 300%;
  animation: bg 8s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* ANIMATION BACKGROUND */
@keyframes bg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.page {
  background: linear-gradient(90deg, #87ceeb, #001f3f);
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

h1 {
  color: #001f3f;
}

input,
select,
textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

textarea {
  height: 80px;
  resize: none;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: #001f3f;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #87ceeb;
  color: #001f3f;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 25px;
  border-radius: 10px;
  text-align: center;
  animation: pop 0.3s ease;
}

@keyframes pop {
  from {
    transform: scale(0.7);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
